<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tilting Point Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-5">Tilting Point Calculator</h1>
      <form id="calc-form" class="mt-4">
        <div class="form-group">
          <label for="fba_fee">FBA Fee (3P Seller):</label>
          <input type="number" step="0.01" class="form-control" id="fba_fee" name="fba_fee" required>
        </div>
        <div class="form-group">
          <label for="vendor_terms">Vendor Terms (1P Vendor, in %):</label>
          <input type="number" step="0.01" class="form-control" id="vendor_terms" name="vendor_terms" required>
        </div>
        <button type="submit" class="btn btn-primary custom-button">Calculate Tilting Point</button>
      </form>

      <div id="result" class="mt-4"></div>
      <div class="graph-container"> <!-- Add this div wrapper -->
        <img id="profit-graph" src="" alt="Profit graph" style="display: none;">
      </div>
    </div>

    <script>
      // Add this script block to replace your /static/js/scripts.js file
      $(document).ready(function () {
        $("#calc-form").submit(function (event) {
          event.preventDefault();

          $.ajax({
            url: "/calculate",
            method: "POST",
            data: $(this).serialize(),
            success: function (response) {
              if (response.error) {
                $("#result").html(
                  `<div class="alert alert-danger">${response.error}</div>`
                );
              } else {
                $("#result").html(
                  `<div class="alert alert-success">
                     The tilting point where the 3P(Seller) business model becomes more profitable is at a price of ${response.tilting_point}.<br>
                     Profit for both models at the tilting point is: ${response.profit_3P_Seller}.<br>
                     The hypotheses include a Seller fee of 15%, VAT rate of 20%, a TACOS of 10% and an Amazon margin of 30%.
                   </div>`
                );
                var graph = document.getElementById('profit-graph');
                graph.src = response.graph_url;
                graph.style.display = 'block';
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
